:host {
    display: flex;
    flex-direction: column;
    height: 100%;

   
  }
  .example::-webkit-scrollbar {
    display: none;
  }
  mat-drawer {
    width: 350px;
    background-color: rgb(142, 140, 255);
    color: cornsilk;
  }
  
  mat-drawer-container {
    height: 100%;
    background-color: black;
  }
  mat-drawer-content{
    padding: 20px;

  }